

.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: $highlight-color transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent $highlight-color transparent; }

.medium-editor-toolbar {
  background-color: $highlight-color; }
  .medium-editor-toolbar li {
    padding: 0; }
    .medium-editor-toolbar li button {
      min-width: 40px;
      height: 40px;
      border: none;
      border-right: 1px solid lighten($highlight-color, 10%);
      background-color: transparent;
      line-height:10px;
      padding:0;
      color: #fff; }
      .medium-editor-toolbar li button:hover {
        background-color: darken($highlight-color, 10%);
        color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: darken($highlight-color, 15%);
      color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-active:hover {
      background-color: darken($highlight-color, 20%); }
    .medium-editor-toolbar li .medium-editor-button-last {
      border-right: none; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 60px;
  background: $highlight-color;
  color: #fff; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: $highlight-color;
  color: #fff; }

.medium-editor-placeholder:after {
  color: lighten($highlight-color, 10%); }
