
.contentEditor {
	display:block;
	max-width:50em;
	width:100%;
	background-color:lighten($grey, 20%);
	padding:1em;
	margin-bottom:3em;
	box-sizing:border-box;
}

.contentEditor__group {
	display:block;
	padding:0;
	margin:0 0 0.5em;
	border:0;
	height:auto;
	width:100%;
	animation: 0.3s $ease-curve 0s 1 contentGroupEnter;
}

.contentEditor__group--wysiwyg {
	height:100%;
	animation: 0.3s $ease-curve 0s 1 contentGroupEnterWysiwyg;
}




@keyframes contentGroupEnter {
	0% {
		height:0;
	}
	100% {
		height:2.25em;
	}
}

@keyframes contentGroupEnterWysiwyg {
	0% {
		height:0;
	}
	100% {
		height:11em;
	}
}

.contentEditor__label {
	font-weight:bolder;
	display:block;
	font-size:0.8em;
	text-transform:uppercase;
	margin-bottom:0.5em;
	color:$primary-color;
	animation: 0.3s $ease-curve 0s 1 contentLabelEnter;
}

@keyframes contentLabelEnter {
	0% {
		transform:translateY(-50%);
		opacity:0;
	}
	50% {
		transform:translateY(-50%);
		opacity:0;
	}
	100% {
		transform:translateY(0%);
		opacity:1;
	}
}

.contentEditor__textInput {
	display:block;
	float:left;
	width:100%;
	padding:0.5em;
	box-sizing:border-box;
	border:none;
	outline:none;
	transition:box-shadow 0.15s $ease-curve;
	box-shadow: 0 0 0 0 $highlight-color;
	animation: 0.3s $ease-curve 0s 1 contentInputEnter;

	&:focus {
		box-shadow: 0 0 0 0.15em $highlight-color;
	}
}

@keyframes contentInputEnter {
	0% {
		transform:translateY(-30%);
		opacity:0;
	}
	50% {
		transform:translateY(-30%);
		opacity:0;
	}
	100% {
		transform:translateY(0%);
		opacity:1;
	}
}

.contentEditor__textInput--image {
	width:75%;
}

.contentEditor__mediaBrowserLaunch {
	float:left;
	width:25%;
	-webkit-appearence:none;
	background-color:$secondary-color;
	border:none;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.8em;
	height:2.6em;
	animation: 0.3s $ease-curve 0s 1 contentInputEnter;
	transition:background-color 0.1s $ease-curve, box-shadow 0.1s $ease-curve;
	outline:none;

	&:hover {
		background-color:darken($secondary-color, 15%);
	}

	&:focus {
		box-shadow: 0 0 0 0.2em $highlight-color;
	}
}


.contentEditor__wysiwyg {
	box-sizing:border-box;
	width:100%;
	padding:0.25em;
	height:10em;
	background-color:white;
	outline:none;
	transition:box-shadow 0.15s $ease-curve;
	box-shadow: 0 0 0 0 $highlight-color;
	animation: 0.3s $ease-curve 0s 1 contentInputEnter;

	&:focus {
		box-shadow: 0 0 0 0.15em $highlight-color;
	}

	p {
		margin-top:0;
	}
}

.contentEditorCustom__container {
	background-color:white;
	max-width:100%;
	box-sizing:border-box;
	overflow:hidden;
	height:2.5em;
	box-shadow: 0 0 0.5em rgba(0,0,0,0);
	transition:height 0.25s $ease-curve, box-shadow 0.25s $ease-curve;

	&.open {
		box-shadow: 0 0 0.75em rgba(0,0,0,0.75);
		&>.contentEditorCustom__title {
			background-color:$secondary-color;
			color:white;
		}
		&>.contentEditorCustom__inner {
			opacity:1;
			transform:translatey(0%);
			transition: opacity 0.25s $ease-in-curve, 
							transform 0.25s $ease-in-curve;
		}
	}
}

.contentEditorCustom__title {
	box-sizing:border-box;
	position:relative;
	z-index:1;
	width:100%;
	padding:0 1em;
	line-height:2.5em;
	background-color:white;
	color:black;
	font-weight:bold;
	cursor:pointer;
	transition: background-color 0.15s $ease-curve,
							color 0.15s $ease-curve;

	&:hover {
		background-color:$secondary-color;
		color:white;
	}
}
.contentEditorCustom__inner {
	padding:1em;
	box-sizing:border-box;
	overflow:hidden;
	opacity:0;
	transform:translateY(-5%);
	transition: opacity 0.25s $ease-out-curve, 
							transform 0.25s $ease-out-curve;
}

.contentEditor__incrementor {
	-webkit-appearence:none;
	-moz-appearence:none;
	background-color:$highlight-color;
	border:none;
	padding:0.5em 0.4em;
	font-size:1em;
	color:white;
	transition:background-color 0.15s $ease-curve, box-shadow 0.15s $ease-curve;
	box-shadow:0 0 0.2em transparentize($grey, 0.4);
	float:right;
	clear:both;
	outline:none;
	&:hover {
		background-color:darken($highlight-color, 10%);
	}

	&:focus {
		box-shadow: 0 0 0.2em transparentize($grey, 0.4),
								0 0 0 0.15em #{lighten($highlight-color, 5%)};
	}

	&.disabled {
		opacity:0.5;
		pointer-events:none;
	}
}


.contentEditor__toolbar {
	height:1em;
	width:100%;
	float:left;
	overflow:hidden;
	transition:height 0.15s $ease-curve, opacity 0.15s $ease-curve;
}

.contentEditor__toolbarBtn {
	border:none;
	float:right;
	background-color:transparent;
	color:rgba(0,0,0,0.1);
	font-weight:bold;
	text-transform:uppercase;
	font-size:0.6em;
	padding:0;
	outline:none;

	&:hover {
		color:$secondary-color;
	}

	&:first-child {
		padding-right:0.15em;
	}
}
