// Variables go here

$highlight-color: #2196F3;
$primary-color: #3f51b5;
$secondary-color: #ff9800;
$grey: #9faaaf;
$red: #f44336;


$ease-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-in-curve : cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out-curve : cubic-bezier(0.4, 0.0, 1, 1);
