
.contentEditor {
	display:block;
	width:35em;
	max-width:100%;
	background-color:lighten($grey, 20%);
	padding:1em;
	margin-bottom:3em;
	box-sizing:border-box;
}

.contentEditor__group {
	padding:0;
	margin:0;
	border:0;
	height:4em;
	animation: 0.3s $ease-curve 0s 1 contentGroupEnter;
}

.contentEditor__group--wysiwyg {
	height:100%;
	animation: 0.3s $ease-curve 0s 1 contentGroupEnterWysiwyg;
}



@keyframes contentGroupEnter {
	0% {
		height:0;
	}
	100% {
		height:4em;
	}
}

@keyframes contentGroupEnterWysiwyg {
	0% {
		height:0;
	}
	100% {
		height:11em;
	}
}

.contentEditor__label {
	font-weight:bolder;
	display:block;
	font-size:0.8em;
	text-transform:uppercase;
	margin-bottom:0.5em;
	color:$primary-color;
	animation: 0.3s $ease-curve 0s 1 contentLabelEnter;
}

@keyframes contentLabelEnter {
	0% {
		transform:translateY(-50%);
		opacity:0;
	}
	50% {
		transform:translateY(-50%);
		opacity:0;
	}
	100% {
		transform:translateY(0%);
		opacity:1;
	}
}

.contentEditor__textInput {
	display:block;
	float:left;
	width:100%;
	padding:0.5em;
	box-sizing:border-box;
	border:none;
	outline:none;
	transition:box-shadow 0.15s $ease-curve;
	box-shadow: 0 0 0 0 $highlight-color;
	animation: 0.3s $ease-curve 0s 1 contentInputEnter;

	&:focus {
		box-shadow: 0 0 0 0.15em $highlight-color;
	}
}

@keyframes contentInputEnter {
	0% {
		transform:translateY(-30%);
		opacity:0;
	}
	50% {
		transform:translateY(-30%);
		opacity:0;
	}
	100% {
		transform:translateY(0%);
		opacity:1;
	}
}

.contentEditor__textInput--image {
	width:75%;
}

.contentEditor__mediaBrowserLaunch {
	float:left;
	width:25%;
	-webkit-appearence:none;
	background-color:$secondary-color;
	border:none;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.8em;
	height:2.6em;
	animation: 0.3s $ease-curve 0s 1 contentInputEnter;
	transition:background-color 0.1s $ease-curve, box-shadow 0.1s $ease-curve;
	outline:none;

	&:hover {
		background-color:darken($secondary-color, 15%);
	}

	&:focus {
		box-shadow: 0 0 0 0.2em $highlight-color;
	}
}


.contentEditor__wysiwyg {
	box-sizing:border-box;
	width:100%;
	padding:0.25em;
	height:10em;
	background-color:white;
	outline:none;
	transition:box-shadow 0.15s $ease-curve;
	box-shadow: 0 0 0 0 $highlight-color;
	animation: 0.3s $ease-curve 0s 1 contentInputEnter;

	&:focus {
		box-shadow: 0 0 0 0.15em $highlight-color;
	}

	p {
		margin-top:0;
	}
}






.contentEditor__incrementor {
	-webkit-appearence:none;
	background-color:$secondary-color;
	border:none;
	padding:0.5em 0.4em;
	font-size:1em;
	color:white;
	transition:background-color 0.15s $ease-curve, box-shadow 0.15s $ease-curve;
	box-shadow:0 0 0.1em transparentize($grey, 0.5);
	float:right;
	clear:both;
	outline:none;
	&:hover {
		background-color:darken($secondary-color, 10%);
	}

	&:focus {
		box-shadow: 0 0 0.1em transparentize($grey, 0.5),
								0 0 0 0.15em $highlight-color;
	}
}
