.pageTabs {
	width:100vw;
	height:3em;
	background-color:lighten($grey, 15%);
	@include clearfix;
}

.pageTab {
	display:block;
	float:left;
	padding:0 1em;
	line-height:3em;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	color:rgba(0,0,0,0.54);
	cursor:pointer;
	transition:background-color 0.15s $ease-curve, color 0.15s $ease-curve;
	&:hover {
		background-color:lighten($grey, 5%);
	}
}

.pageTab--active {
	color:white;
	background-color:$primary-color;

	&:hover {
		background-color:darken($primary-color, 10%);
	}
}

.pageEditors {
	width:100vw;
	position:relative;
}

.pageEditor {
	display:block;
	position:absolute;
	width:100%;
	padding:1em;
	box-sizing:border-box;
	min-height:100%;
	opacity:0;
	pointer-events:none;
	transform:translateX(0);
}

.pageEditor--visible {
	opacity:1;
	pointer-events:all;
	transform:translateX(0);
}

.pageName {
	text-transform:capitalize;
}

$entranceMargin: 1em;

@keyframes enterLeft {
	from {
		opacity:0;
		transform:translateX(-#{$entranceMargin});
	}
	to {
		opacity:1;
		transform:translateX(0);
	}
}
@keyframes enterRight {
	from {
		opacity:0;
		transform:translateX(#{$entranceMargin});
	}
	to {
		opacity:1;
		transform:translateX(0);
	}
}
@keyframes exitLeft {
	from {
		opacity:1;
		transform:translateX(0);
	}
	to {
		opacity:0;
		transform:translateX(-#{$entranceMargin});
	}
}
@keyframes exitRight {
	from {
		opacity:1;
		transform:translateX(0);
	}
	to {
		opacity:0;
		transform:translateX(#{$entranceMargin});
	}
}
.pageEditor--enterLeft {
	animation: 0.15s $ease-curve 0s 1 enterLeft;
}
.pageEditor--enterRight {
	animation: 0.15s $ease-curve 0s 1 enterRight;
}
.pageEditor--exitLeft {
	animation: 0.15s $ease-curve 0s 1 exitLeft;
}
.pageEditor--exitRight {
	animation: 0.15s $ease-curve 0s 1 exitRight;
}
