.wysiwyg {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}

.wysiwyg__inner {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:calc(100% - 2em);
	max-width:50em;
	min-height:10em;
	max-height:calc(100% - 2em);
	background-color:lighten($grey, 30%);
	box-shadow:0 0 0.5em rgba(0,0,0,0.75);
}

.wysiwyg__header {
	background-color:lighten($grey, 20%);
	padding:0.5em;

	h1 {
		margin:0;
		color:rgba(0,0,0,0.75);
	}
}
